* {
  resize: both;
  font-weight: bold;
  margin: 10px;
}

.body {
  background-color: black;
  margin-bottom: 50px;
}

.complete {
  text-decoration: line-through;
}

.container {
  background-color: black;
  height: 1200px;
  width: 1000px;
  padding: 100px;
  margin-bottom: 10px;
}

.jumbotron {
  padding: 10px;
  margin: 100px;
}

#top {
  margin-left: 450px;
  font-weight: bolder;
}

#add {
  margin-left: 250px;
  font-weight: bolder;
}

#clearTodos {
  margin-left: 350px;
  font-weight: bolder;
}
